/* numbered items */

.numbered-items {
    counter-reset: count;
    width: fit-content;
    margin-inline: auto;
  }
  
  .numbered-items li {
    counter-increment: count;
  }
  
  .numbered-items div {
    display: grid;
    position: relative;
    align-items: center;
    column-gap: var(--size-300);
    grid-template-columns: min-content 1fr;
    text-align: left;
  }
  
  .numbered-items__title {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    line-height: 1;
  }
  
  .numbered-items__body {
    grid-column: 1 / -1;
  }
  
  @media (min-width: 30em) {
    .numbered-items__body {
      grid-column: 2 / -1;
    }
  }
  
  .numbered-items div::before,
  .numbered-items div::after {
    height: 40px;
  }
  
  .numbered-items div::before {
    content: "0" counter(count);
    display: flex;
    align-items: center;
    color: var(--clr-neutral-100);
    font-weight: var(--fw-bold);
    background-color: var(--clr-accent-400);
    padding: 0 var(--size-500);
    border-radius: 100vw;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
  
  @media (max-width: 30em) {
    .numbered-items div::after {
      --bg: var(--clr-accent-100);
      content: "";
      display: block;
      z-index: -1;
      border-radius: 100vw 0 0 100vw;
      grid-column: 1 / -1;
      grid-row: 1 / 2;
      box-shadow: 5em 0 0 var(--bg);
      background: var(--bg);
    }
  }